<% if false %>
<form action="/users" method="post" accept-charset="UTF-8" data-turbo="false">
    <%#<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    
    <label for="username">Username:</label>
    <input type="text" id="username" name="user[username]"><br><br>

    <label for="email">Email:</label>
    <input type="text" id="email" name="user[email]"><br><br>

    <label for="password">Password:</label>
    <input type="password" id="password" name="user[password]"><br><br>

    <input type="submit" value="Create User">

</form>
<% end %>

<% if false %>
<%= form_tag("/users", method: "post", data: { turbo: false }) do %>
    
    <%= label_tag(:username, "Username")  %><br>
    <%= text_field_tag(:username) %><br><br>

    <%= label_tag(:email, "Email") %><br>
    <%= text_field_tag(:email)%><br><br>

    <%= label_tag(:password, "Password") %><br>
    <%= password_field_tag(:password) %><br><br>

    <%= submit_tag("Create User") %>

<% end %>
<% end %>

<%= form_with model: @user do |form| %>
  
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> Prevented this user from being saved:</h2>
      <ul>
        <% @user.errors.full_messages.each do |error| %>
          <li><%= error %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div>
    <%= form.label :username %><br>
    <%= form.text_field :username, placeholder: "Your name goes here" %><br><br>
  </div>

  <div>
    <%= form.label :email %><br>
    <%= form.text_field :email, placeholder: "example@example.com" %><br><br>
  </div>

  <div>
    <%= form.label :password %><br>
    <%= form.password_field :password, placeholder: "minimum 6 characters" %><br><br>
  </div>

  <%= form.submit %><br><br>
  <%= link_to "Edit User 1", edit_user_path(1) %>

<% end %>
